@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 50px;
}


/* flash */
.alert,.notice {
  padding: 15px;
  border-radius: 4px;
  margin-top: 2px;
}

.alert {
  color: #a94442;
  background-color: #f2dede;
}

.notice {
  color: #3c763d;
  background-color: #dff0d8;
}


/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: contents;
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* form */
form select {
  display: inline-block !important;
  width: auto !important;
}


/* タスク一覧 */
.col-sm-6 {
  padding-left: 0;
}

@media (max-width: 767px) {
  .col-sm-6 {
    padding-right: 0;
  }
}

.card {
  border: 1px solid black;
  margin-bottom: 10px;
}

.card-header {
  margin: 0;
  padding: 8px;
}

.card-green {
  color: #3c763d;
  background: #dff0d8;
}

.card-red {
  color: #a94442;
  background-color: #f2dede;
}

.card-body {
  padding: 10px;
}


/* task assignment */
.assignment-container {
  display: flex;
  .current-assignment,.new-assignment {
    width: 50%;
    padding-left: 10px;
  }
  .new-assignment > select {
    width: 100% !important;
  }
}


/* task-detail */
.task-detail {
  background: rgba(230, 225, 225, 0.6);
  padding: 20px 45px 30px;
  border-radius: 7px;
  margin-top: 8px;
}